@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <meta lang="en" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Klozerr - The Social Network for YOU</title>
            <link href="./css/home.less" rel="stylesheet/less" type="text/css" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
            <script>
                if (localStorage.getItem('id') !== null && localStorage.getItem('id') != '0') {
                    window.location = 'home/member/' + localStorage.getItem('id');
                } else {
                    localStorage.removeItem('id');
                    localStorage.removeItem('pageId');
                    localStorage.removeItem('token');
                    localStorage.removeItem('name');
                }
            </script>
        </head>
        <body>
            <header>
                Klozerr<sup>&reg;</sup>
                <button class="toggle-login">Sign in <img src="img/signin.png" alt="" /></button>
            </header>
            <main>
                <div>
                    <h2>Register</h2>
                    <h3>Sign up to Klozerr as a member for FREE.</h3>
                    <form method="post">
                        <input type="text" name="firstName" placeholder="First Name:" value="@Request.Form["firstName"]" required />
                        <input type="text" name="lastName" placeholder="Last Name:" value="@Request.Form["lastName"]" required />
                        <input type="text" name="email" placeholder="E-Mail Address:" value="@Request.Form["email"]" required />
                        <input type="text" name="emailRepeat" placeholder="Repeat E-Mail:" value="@Request.Form["emailRepeat"]" required />
                        <input type="password" name="password" placeholder="Password:" required />
                        <input type="password" name="passwordRepeat" placeholder="Repeat Password:" required />
                        <section class="fix"></section>
                        <button>Register</button>
                    </form>
                    <ul>
                        @foreach(var error in Model)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            </main>
            <div class="fix"></div>
            <footer>
                COPYRIGHT &copy; @DateTime.Now.Year KLOZERR.COM
            </footer>
            <section class="login">
                <h3>Login</h3>
                <form method="post">
                    <input type="text" name="email" placeholder="E-Mail Address:" required />
                    <input type="password" name="password" placeholder="Password:" required />
                    <input type="image" src="~/img/log-in.png" />
                    <img class="toggle-login" src="img/close-white.png" alt="" />
                </form>
            </section>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script>
                        'use strict';
                        $('main').find('div').css('height', $(window).height() - 250);
                        $(window).resize(function () {
                            $('main').find('div').css('height', $(window).height() - 250);
                        });
                        $('.toggle-login').click(function () {
                            $('.login').fadeToggle(200);
                        });
            </script>
        </body>
    </html>
