@model IDictionary<Pleberr.Models.User, List<Pleberr.Models.User>>

@{
    Layout = null;
}

<nav>
    <div class="left-nav">
        <section>
            School and Work<img src="~/img/arrow.png" alt="" />
            <br />
        </section>
        <div>
            <a href="javascript:void(0)">@(Model.Keys.First<Pleberr.Models.User>().School)</a>
            <input type="text" class="fill-in" value="@(Model.Keys.First<Pleberr.Models.User>().School)" maxlength="35" />
            <br />
            <a href="javascript:void(0)">@(Model.Keys.First<Pleberr.Models.User>().Work)</a>
            <input type="text" class="fill-in" value="@(Model.Keys.First<Pleberr.Models.User>().Work)" maxlength="35" />
        </div>
        <section>
            Locations<img src="~/img/arrow.png" alt="" />
            <br />
        </section>
        <div>
            <a href="javascript:void(0)">@(Model.Keys.First<Pleberr.Models.User>().Location)</a>
            <input type="text" class="fill-in" value="@(Model.Keys.First<Pleberr.Models.User>().Location)" maxlength="35" />
        </div>
        <section>
            Relationships<img src="~/img/arrow.png" alt="" />
            <br />
        </section>
        <div>
            <a href="javascript:void(0)">@(Model.Keys.First<Pleberr.Models.User>().Relationship)</a>
            <input type="text" class="fill-in" value="@(Model.Keys.First<Pleberr.Models.User>().Relationship)" maxlength="35" />
        </div>
        <section>
            Details<img src="~/img/arrow.png" alt="" />
            <br />
        </section>
        <div>
            <a href="javascript:void(0)">@((Model.Keys.First<Pleberr.Models.User>().Birthdate.Year) > DateTime.Now.Year ? "Your date of birth" : (Model.Keys.First<Pleberr.Models.User>().Birthdate).ToString("dddd, dd MMMM yyyy"))</a>
            <input type="date" class="fill-in" value="@((Model.Keys.First<Pleberr.Models.User>().Birthdate).Year > DateTime.Now.Year ? "2017-01-01" : (Model.Keys.First<Pleberr.Models.User>().Birthdate).ToString("yyyy-MM-dd"))" maxlength="35" />
            <br />
            <a href="javascript:void(0)">@(Model.Keys.First<Pleberr.Models.User>().Gender == "Your gender" ? "Your gender" : Model.Keys.First<Pleberr.Models.User>().Gender.ToString())</a>
            <select class="fill-in">
                <option value="Your gender">Your gender</option>
                <option value="Male" @(Model.Keys.First<Pleberr.Models.User>().Gender == "Male" ? "selected" : string.Empty)>Male</option>
                <option value="Female" @(Model.Keys.First<Pleberr.Models.User>().Gender == "Female" ? "selected" : string.Empty)>Female</option>
            </select>
            <br />
            <a class="in-m" href="javascript:void(0)">@((Model.Keys.First<Pleberr.Models.User>().Height) == 0f ? "Your height" : (Model.Keys.First<Pleberr.Models.User>().Height).ToString() + " m")</a>
            <input type="number" step="0.01" class="fill-in" value="@((Model.Keys.First<Pleberr.Models.User>().Height) == 0f ? "0.00" : (Model.Keys.First<Pleberr.Models.User>().Height).ToString())" maxlength="35" />
            <br />
            <a class="in-kg" href="javascript:void(0)">@((Model.Keys.First<Pleberr.Models.User>().Weight) == 0 ? "Your weight" : (Model.Keys.First<Pleberr.Models.User>().Weight).ToString() + " kg")</a>
            <input type="number" class="fill-in" value="@((Model.Keys.First<Pleberr.Models.User>().Weight) == 0f ? "0" : (Model.Keys.First<Pleberr.Models.User>().Weight).ToString())" maxlength="35" />
        </div>
        <section>
            Contact<img src="~/img/arrow.png" alt="" />
            <br />
        </section>
        <div>
            <a href="javascript:void(0)">@(Model.Keys.First<Pleberr.Models.User>().Email2)</a>
            <input type="text" class="fill-in" value="@(Model.Keys.First<Pleberr.Models.User>().Email2)" maxlength="35" />
            <br />
            <a href="javascript:void(0)">@(Model.Keys.First<Pleberr.Models.User>().Telephone)</a>
            <input type="text" class="fill-in" value="@(Model.Keys.First<Pleberr.Models.User>().Telephone)" maxlength="35" />
        </div>
    </div>
</nav>
<main class="main-cont">
    <h1>@(Model.Keys.First<Pleberr.Models.User>().FirstName) @(Model.Keys.First<Pleberr.Models.User>().LastName)&#8217;s Messages</h1>
    <div class="fix"></div>
    <section class="contacts">
        @foreach(Pleberr.Models.User friend in Model[Model.Keys.First<Pleberr.Models.User>()])
        {
            <div class="contact-cont" data-id="@friend.Id">
                <div class="contact" style="background-image:url(../../@friend.Id/avatar.png)"></div>
                <span>@friend.FirstName @friend.LastName (@(friend.Online ? "online" : "offline"))</span>
                <br /><br />
            </div>
        }
    </section>
    <section class="messages">
        <input class="message-txt" type="text" placeholder="Type message here..." />
        <p class="messages-cont"></p>
    </section>
    <p class="fix"></p>
</main>
<script>
    $('.left-nav').find('section').click(function () {
        if ($(this).next().css('display') === 'none') {
            $(this).find('img').css({ transform: 'rotate(180deg)' });
        } else {
            $(this).find('img').css({ transform: 'rotate(0deg)' });
        }
        $(this).next().slideToggle(200);
    });
    $('.left-nav').find('a').click(function () {
        $(this).toggle();
        $(this).next().css('display', 'block');
        $(this).next().select();
    });
    $('.left-nav').find('input').keypress(function (e) {
        if (e.which === 13 && $(this).val().trim() !== '') {
            $(this).blur();
            $(this).prev().html($(this).val());
            if ($(this).prev().hasClass('in-m')) {
                $('.in-m').html($(this).val() + ' m');
            }
            if ($(this).prev().hasClass('in-kg')) {
                $('.in-kg').html($(this).val() + ' kg');
            }
            $(this).toggle();
            $(this).prev().toggle();
            var school = $('.fill-in').eq(0).val().replace("'", "''").replace('#', '&#35;').replace('+', '&#43;');
            var work = $('.fill-in').eq(1).val().replace("'", '&lsquo;').replace('#', '&#35;').replace('+', '&#43;');
            var location = $('.fill-in').eq(2).val().replace("'", '&lsquo;').replace('#', '&#35;').replace('+', '&#43;');
            var relationship = $('.fill-in').eq(3).val().replace("'", '&lsquo;').replace('#', '&#35;').replace('+', '&#43;');
            var birthdate = $('.fill-in').eq(4).val();
            var gender = $('.fill-in').eq(5).val();
            var height = $('.fill-in').eq(6).val();
            var weight = $('.fill-in').eq(7).val();
            var email2 = $('.fill-in').eq(8).val();
            var telephone = $('.fill-in').eq(9).val();
            $.get('../../home/updateinfo?id=' + localStorage.getItem('id') + '&school=' + school + '&work=' + work + '&location=' + location + '&relationship=' + relationship + '&birthdate=' + birthdate + '&height=' + height + '&weight=' + weight + '&gender=' + gender + '&email2=' + email2 + '&telephone=' + telephone);
        }
    });
    $('.left-nav').find('select').change(function (e) {
        $(this).blur();
        $(this).prev().html($(this).val());
        if ($(this).prev().hasClass('in-m')) {
            $('.in-m').html($(this).val() + ' m');
        }
        if ($(this).prev().hasClass('in-kg')) {
            $('.in-kg').html($(this).val() + ' kg');
        }
        $(this).toggle();
        $(this).prev().toggle();
        var school = $('.fill-in').eq(0).val().replace("'", "''").replace('#', '&#35;').replace('+', '&#43;');
        var work = $('.fill-in').eq(1).val().replace("'", '&lsquo;').replace('#', '&#35;').replace('+', '&#43;');
        var location = $('.fill-in').eq(2).val().replace("'", '&lsquo;').replace('#', '&#35;').replace('+', '&#43;');
        var relationship = $('.fill-in').eq(3).val().replace("'", '&lsquo;').replace('#', '&#35;').replace('+', '&#43;');
        var birthdate = $('.fill-in').eq(4).val();
        var gender = $('.fill-in').eq(5).val();
        var height = $('.fill-in').eq(6).val();
        var weight = $('.fill-in').eq(7).val();
        var email2 = $('.fill-in').eq(8).val();
        var telephone = $('.fill-in').eq(9).val();
        $.get('../../home/updateinfo?id=' + localStorage.getItem('id') + '&school=' + school + '&work=' + work + '&location=' + location + '&relationship=' + relationship + '&birthdate=' + birthdate + '&height=' + height + '&weight=' + weight + '&gender=' + gender + '&email2=' + email2 + '&telephone=' + telephone);
    });
    $('.main-header').css('display', 'none');
    $('.contact-cont').click(function () {
        var elem = $(this);
        $('.contact-cont').css('font-family', 'Helvetica');
        elem.css('font-family', 'HelveticaBold');
    });
    var to;
    $('.contact-cont').click(function () {
        var elem = $(this);
        clearInterval(to);
        $('.message-txt').unbind('keypress');
        $.post('../../home/getmessages/' + localStorage.getItem('id'), {
            other: elem.attr('data-id')
        })
        .done(function (data) {
            $('.messages-cont').html(data);
        });
        to = setInterval(function () {
            if ($('.message-txt').val() === '') {
                $.post('../../home/getmessages/' + localStorage.getItem('id'), {
                    other: elem.attr('data-id')
                })
                .done(function (data) {
                    $('.messages-cont').html(data);
                });
            }
        }, 2000);
        $('.message-txt').keypress(function (e) {
            var txt = $(this);
            if (e.which === 13 && txt.val().trim() !== '') {
                $.post('../../home/postmessage/' + localStorage.getItem('id'), {
                    to: elem.attr('data-id'),
                    dateCreated: '@DateTime.Now',
                    content: txt.val().replace("'", '&rsquo;').replace('#', '&#35;').replace('+', '&#43;')
                })
                .done(function () {
                    txt.val('');
                });
            }
        });
    });
    $.get('../../home/setread/' + localStorage.getItem('id'));
    $(window).on('beforeunload', function () {
        $.get('../../home/setread/' + localStorage.getItem('id'));
    });
</script>
